@media (min-width: 1200px){
	.content {
    max-width: 1200px;
}
}

.row{
    padding: 15px;
}
.card{
	background-color: black;
	color: white;
	border-radius : 10px;
}

.card-img-top {
    width: 70%;
    height: 250px !important;
    margin-left: 15%;
}
.btn{
	border-color: white; 
	color: black; 
	background-color: white;
	font-weight: bold;
}
.btn:hover{
	border-color: white; 
	color: black; 
	background-color: white;
	font-weight: bold;
}
a{
	color: white;
    text-decoration: none;
}
a:hover{
	color: white;
    text-decoration: none !important;
}
.movies .btn{
	border-color: black; 
	color: white; 
	background-color: black;
	font-weight: bold;
}
.movies .btn:hover{
	border-color: black; 
	color: white; 
	background-color: black;
	font-weight: bold;
}
.dropdown-toggle::after {
	display: none
}
.dropdown-toggle::before {
	display: none
}
.dealcarousel {
    position: relative;
    width: 80%;
    
    margin-left: 10%;
    margin-top: 4%;
    overflow: hidden;
}



  